<app-header></app-header>

<div *ngIf="countryCounting$ | async"></div>
<div *ngIf="classCounting$ | async"></div>

<mat-spinner
  style="margin: auto; padding: auto"
  *ngIf="countryList_isLoading"
></mat-spinner>
<div *ngIf="!countryList_isLoading">
  <h2 style="text-align: center; margin: 1rem" *ngIf="avgStudentAge$">
    Avrage students age: {{ avg ? (avg | number: "1.0-0") : 0 }} years old
  </h2>

  <table style="width: 90%; margin: auto; margin-bottom: 1rem">
    <tr>
      <th>Country</th>
      <td *ngFor="let country of countryList$ | async">{{ country.name }}</td>
    </tr>
    <tr>
      <th>Student Count</th>
      <td *ngFor="let country of student_country_counter">
        {{ country ? country.length : "0" }}
      </td>
    </tr>
  </table>

  <class-item
    [classList]="classList$ | async"
    [countryList]="countryList$ | async"
    [student_country_counter]="student_country_counter"
    [student_class_counter]="student_class_counter"
    [classList_isLoading]="classList_isLoading"
  ></class-item>

  <div style="padding: 2rem; margin: auto">
    <h3 style="font-weight: bolder; font-style: italic">User Guide</h3>
    <p>
      - You can start with "Populate DB" button to create random classes with
      students, or use "Create Class" button to create class then add students
      inside.
    </p>
    <p>
      - Each class is an expansion panel where you can expand to see students
      inside and add them.
    </p>
    <p>- Once you have classes, you can edit their names or delete each one.</p>
    <p>- After adding students inside a class, you can delete each student.</p>
    <p>- Students Avrage age is on the top for all students.</p>
    <p>
      - Students count per country (countries are limitted to GCC countries
      only) is in the table above.
    </p>
    <p>- Students count per class is displayed on each class header.</p>
  </div>

  <div style="padding: 4rem; margin: auto; text-align: center">
    <h3>Developed by:</h3>
    <a href="https://www.linkedin.com/in/hassan-alyafai-7a575a7a/">
      <img
        style="width: 6rem"
        src="https://media-exp1.licdn.com/dms/image/C4E03AQGjjueDcYTDCg/profile-displayphoto-shrink_400_400/0/1516766206926?e=1647475200&v=beta&t=f11Fdgcacsgj-DD3dD03Zi_1aNH_X5JJZuB0STKW2k8"
        alt=""
      />
      <h3 style="font-weight: bolder">Hassan AlYafai</h3>
    </a>
  </div>
</div>
